*{
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40vw;
}
#signup button {
  width: 20vw;
}
